<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Proefpakket')"></head>
<body>
    <h1>Proefpakket.</h1>
    <blockquote>Een pakket bieren van een brouwer naar uw keuze.</blockquote>
    <img alt="gazon" th:src="@{/images/brouwerij.jpg}">
    <section>
        <nav>
            <a th:each="letter:${alfabet}"
               th:href="@{/letter/{letter}(letter = ${letter})}"
               th:text="${letter}">
            </a>
        </nav>
        <ul>
            <li th:each="brouwer:${brouwers}">
                <a th:href="@{/brouwer/{id} (id = ${brouwer.id})}"
                   th:text="${brouwer.naam}"></a>
            </li>
        </ul>
    </section>
</body>
</html>