<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:object="${brouwer}" th:replace="fragments::head(title=*{naam})"></head>
<body>
    <h1>
        Proefpakket
        <span th:text="*{naam}"></span>
        (stap 2)
    </h1>
    <form th:object="${bestelling}" method="post">
        <label>
            Straat
            <span th:errors="*{adres.straat}"></span>
            <input th:field="*{adres.straat}" type="text" required>
        </label>
        <label>
            Huisnummer
            <span th:errors="*{adres.huisNr}"></span>
            <input th:field="*{adres.huisNr}" type="text" required>
        </label>
        <label>
            Gemeente
            <span th:errors="*{gemeente}"></span>
            <select th:field="*{gemeente}" required>
                <option th:each="gemeente : ${gemeenten}"
                        th:text="|${gemeente.naam} ${gemeente.postcode}|"
                        th:value="${gemeente.id}">
                </option>
            </select>
        </label>
        <input type="submit" value="opslaan" name=opslaan>
        <input type="submit" value="stap 1" name="stap1" formnovalidate>
    </form>

</body>
</html>