<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" th:object="${brouwer}">
<head th:replace="fragments::head(title=*{naam})"></head>
<body>
    <h1>
        Proefpakket
        <span th:text="*{naam}"></span>
        (stap 1)
    </h1>
    <form th:object="${bestelling}" method="post">
        <label>
            Voornaam
            <span th:errors="*{voornaam}"></span>
            <input th:field="*{voornaam}" type="text" required>
        </label>
        <label>
            Familienaam
            <span th:errors="*{familienaam}"></span>
            <input th:field="*{familienaam}" type="text" required>
        </label>
        <label>
            Emailadres
            <span th:errors="*{emailAdres}"></span>
            <input th:field="*{emailAdres}" type="email" required>
        </label>
        <span th:errors="*{brouwer}"></span>
        <input type="text" th:field="*{brouwer}">
        <input type="submit" value="stap 2" name="stap2">
    </form>
</body>
</html>